<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Register</title>
</head>

<body>
    <div class="popup-wrapper">
        <div class="popup">
            <div class="popup-close">x</div>
                <div class="popup-content">
                    <h2>Job Details</h2>
                    <div class="popup-job-description">
    
                        <div class="job-descriptions">
                            <p><span class="popup-job-description-title">Title: </span>Process Engineer</p>
                        </div>
    
                        <div class="job-descriptions">
                                <p><span class="popup-job-description-company">Company: </span>Undisclosed</p>
                        </div>
    
                        <div class="job-descriptions">
                                <p><span class="popup-job-description-location">Location: </span>Naypyitaw</p>
                        </div>
                        <div class="job-descriptions">
                                <p><span class="popup-job-description-location">Salary: </span>$75,000</p>
                        </div>
                        <div class="job-descriptions">
                                <p><span class="popup-job-description-description">Description: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et similique ex, iusto sint in ratione aut magnam! Accusamus eveniet aspernatur nihil? Distinctio vel fugiat eius eaque? Quas earum adipisci quis voluptate animi id atque alias. Sapiente aut explicabo voluptate!</p>
                        </div>
    
                        <div class="job-descriptions requirements">
                                <p><span class="popup-job-description-requirements">Requirements: </span><ul>
                                    <li>Bachelor's degree</li>
                                    <li>At least 3 years of experience in a similar position</li>
                                    <li>Fluent in English and Mandarin</li>
                                </ul></p>
                    </div>
                    <a class="apply-button" href="#">Apply Now</a>
                </div>
        </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3361e3552f.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>

</html>